body {
  font-family: 'Muli', sans-serif;
}
#logo {
  font-family: 'Libre Baskerville', serif;
  color: black;
  border-bottom: 1px;
  border-bottom-style: outset;
  border-color: rgb(32, 96, 64);
  margin-bottom: 10px;
}
#raptor {
  margin-bottom: 10px;
}
#main-content{
  margin-left: 30px;
  margin-top: 20px;
}
#header {
  margin-left: 30px;
  margin-top: 20px;
}
/* The slow way */
.make-it-slow {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */
.make-it-slow:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.links {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: bold;
  border-radius: 25px;
  color: black;
  margin: 5px;
}
.links:hover{
  color: rgb(156, 214, 185) !important;
}

.hide {
  display: none;
}
.btn:focus,.btn:active{
  outline: none !important;
  box-shadow: none;
}
.btn {
  background-color: white;
}
#faq,#new-title,#new-header {
  display: none;
  margin-right: 20px;
}
